body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
  background: rgba(0, 0, 0, .15);
  border-radius: 3px;
  padding: 0 0.2em;
}